<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>controllers.AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addInventoryServlet</servlet-name>
        <servlet-class>controllers.addInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addVendor</servlet-name>
        <servlet-class>controllers.addVendor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListBookServlet1</servlet-name>
        <servlet-class>controllers.ListBookServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListBookServlet1</servlet-name>
        <url-pattern>/ListBookServlet1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>controllers.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateOrderServlet</servlet-name>
        <servlet-class>controllers.CreateOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateOrderServlet</servlet-name>
        <url-pattern>/CreateOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListBookServlet</servlet-name>
        <servlet-class>controllers.ListBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListBookServlet</servlet-name>
        <url-pattern>/ListBookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListCustomerServlet</servlet-name>
        <servlet-class>controllers.ListCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCustomerServlet</servlet-name>
        <url-pattern>/ListCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderFormList</servlet-name>
        <servlet-class>controllers.OrderFormList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderFormList</servlet-name>
        <url-pattern>/OrderFormList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addInventoryServlet</servlet-name>
        <url-pattern>/addInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addVendor</servlet-name>
        <url-pattern>/addVendor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListManifest</servlet-name>
        <servlet-class>controllers.ListManifest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListManifest</servlet-name>
        <url-pattern>/ListManifest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
